body {
  background-color: #F2E9E4;
  font-family: 'Poppins', sans-serif;
}
.gifBtn {
  display: block;
  width: 100%;
}


.jumbotron {
  color: #F2E9E4;
  background-color: #558B6E;
}
.jumbotron h1, h2, h5 {
  font-family: 'Luckiest Guy', cursive;
}
.btn-primary {
  color: #F2E9E4;
  background-color: #3E4948;
  border-color: #3E4948;
}
.btn-primary:hover {
  color: #323B3A;
  background-color: #88A09E;
  border-color: #88A09E;
  
  }
  .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(217,219,219,.5);
    }

    .btn-primary:focus {
      box-shadow: 0 0 0 .2rem rgba(217,219,219,.5);
      }
  .btn-success {
    color: #323B3A;
    background-color: #88A09E;
    border-color: #88A09E;
    box-shadow: 0 0 5px #323B3A;
    }
    
  .btn-success:hover {
    color: #F2E9E4;
    background-color: #323B3A;
    border-color: #323B3A;
    box-shadow: 0 0 5px #323B3A;
    }

  .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #88A09E;
    border-color: #88A09E;
    }
  
  .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(28,33,32,.5);
    }

  .btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 .2rem rgba(217,219,219,.5)
    }
#btnContainer {
  background-color: #C9ADA7;
  padding-top: 5%;
  padding-bottom: 5%;
  box-shadow: 0 0 5px #806F6B;
  z-index: 100;
}
#searchTxt {
  padding-left: 5%;
  
}
#themGifs {
  background-color: #F2E9E4;
}
#numInput {
  width: 25%;
  display: block;
}

#searchBtn {
  width: 50%;
  
}

#clearBtn {
  width: 50%;
}

#onlyMobile {
  visibility: hidden;
  font-family: 'Luckiest Guy', cursive;
}
#information {
  box-shadow: 5px 5px 30px;
}
form {
  background-color: #C9ADA7;
  
}

img {
  border: 3px solid #323B3A;
  box-shadow: 0 0 5px;
}

@media only screen and (max-width: 650px) {
  #onlyMobile {
    visibility: visible;
  }
}